:root {
   --app-bg: #f6f6f6;
   --white-color: #fff;
   --dark-color: #1a1a1a;
   --action-color: #1CB78D;
   --primary-color: #1CB78D;
   --secondary-color: #12121E;
   --danger-color: #CA3232;
   --warning-color: #EECA32;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   color: var(--dark-color);
}

/* Font */
.raleway {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   line-height: normal;
}

.roboto {
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   line-height: normal;
}

.heading-1 {
   font-weight: 700;
   font-size: 40px;
   font-style: normal;
   line-height: normal;
}

.heading-2 {
   font-weight: 700;
   font-size: 32px;
   font-style: normal;
   line-height: normal;
}

.heading-3 {
   font-weight: 700;
   font-size: 28px;
   font-style: normal;
   line-height: normal;
}

.heading-4 {
   font-weight: 700;
   font-size: 24px;
   font-style: normal;
   line-height: normal;
}

.heading-5 {
   font-weight: 700;
   font-size: 18px;
   font-style: normal;
   line-height: normal;
}

.p-text {
   font-size: 14px;
   font-style: normal;
   line-height: normal;
}


/* Button */

.btn {
   padding-right: 30px;
   padding-left: 30px;
}

.btn-primary {
   background-color: var(--primary-color);
   border-color: var(--primary-color);
}

.btn-primary:hover {
   background-color: #34dcaf;
   border-color: #34dcaf;
}

.btn-primary:focus,
.btn-primary.focus {
   color: var(--primary-color);
   background-color: var(--white-color) !important;
   border-color: var(--white-color) !important;
   box-shadow: 0 0 0 0.2rem rgba(52, 220, 175, 0.3) !important;
}

.btn-outline-primary {
   color: var(--primary-color);
   background-color: var(--white-color);
   border-color: var(--primary-color);
}

.btn-outline-primary:hover {
   background-color: #34dcaf;
   border-color: #34dcaf;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
   color: var(--primary-color);
   background-color: var(--white-color) !important;
   border-color: var(--white-color) !important;
   box-shadow: 0 0 0 0.2rem rgba(52, 220, 175, 0.3) !important;
}

.btn-secondary {
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
}

.btn-secondary:hover {
   background-color: #2a2a45;
   border-color: #2a2a45;
}

.btn-secondary:focus,
.btn-secondary.focus {
   color: var(--secondary-color);
   background-color: var(--white-color) !important;
   border-color: var(--white-color) !important;
   box-shadow: 0 0 0 0.2rem rgba(42, 42, 69, 0.5) !important;
}

.btn-danger {
   background-color: var(--danger-color);
   border-color: var(--danger-color);
}

.btn-danger:hover {
   background-color: #e04b4b;
   border-color: #e04b4b;
}

.btn-hamburger {
   background-color: transparent;
   color: #12121E;
   border: none;
   font-size: 20px;
}



/* Line */
.line {
   border-bottom: 2px solid #f6f6f6;
}

/* Color */
.color-primary {
   color: var(--primary-color);
}

.color-warning {
   color: var(--warning-color);
}

.color-danger {
   color: var(--danger-color);
}